.categories-btns {
  text-align: center;
}

.categories-btns button {
  margin: -5px;
  background: transparent;
  border: 1px solid black;
}

.categories-btns button.active {
  background: $blue;
  color: white;
}