.categories-btns {
  text-align: center;

  button {
    background: transparent;
    border: 1px solid black;
  
    &.active {
      background: $blue;
      color: white;
    }
  
    &:not(:first-child):not(:last-child) {
      border-left: none;
      border-right: none;
    }

    &:first-child {
      margin-right: 1px;
    }

    /* Minor border fixes when middle item is hovered. */
    &:last-child {
      margin-left: 0px !important;
    }
    
    &:focus {
      box-shadow: none;
    }
  }
}