body {
  background-color: aliceblue;
}

// Alerts
.alert {
  text-align: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 200;
  color: #fff;
  width: 100%;

  span {
    vertical-align: middle;
  }
  
  .btn {
    font-size: 13px;
    background: #fff;
    /*color: $body-color;*/
    color: black;
    margin-left: 1.5rem;
    vertical-align: middle;
    /*box-shadow: $box-shadow;*/
  }

  &.alert-dismissible {
    padding-right: 1.25rem !important;
  }
}