.tech-entity-container {
    background: #8e54e9;
    background: linear-gradient(to right, #4776e6, #8e54e9);
    border-radius: 5px;

    a {
        text-decoration: none;
        width: 100%;
        text-align: center;
    }
}

.tech-entity-container:hover {
    background: black;
}